<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestWeb</display-name>
  
  <servlet>
  <servlet-name>getTimeServlet</servlet-name>
  <servlet-class>getTimeServlet</servlet-class>
  
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>getTimeServlet</servlet-name>
  <url-pattern>/getTimeServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <welcome-file-list>
    <welcome-file>jsFile.jsp</welcome-file>
  </welcome-file-list>
</web-app>